@charset "UTF-8";

@font-face {
  font-family: "Larsseit";
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff,../fonts/Larsseit-Bold.woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Larsseit";
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff,../fonts/Larsseit-Medium.woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Larsseit";
  font-display: swap;
  src: url("../fonts/Larsseit.woff,../fonts/Larsseit.woff2");
  font-weight: 400;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Larsseit", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 77px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin: 0px 10px 0px 10px;
}

.header__link {
  color: #22356F;
  line-height: 16px;
}

.header__link:hover {
  border-bottom: 1px solid #22356F;
  padding: 0px 0px 10px 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 30px;
  background-color: #62D0DF;
  border-radius: 50px;
  line-height: 16px;
  text-align: center;
}

.header__button:hover {
  background-color: #56bac7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.home {
  background-color: #F4F9E2;
  position: relative;
  z-index: 10;
}

.home__container {
  position: relative;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._no-webp .home__container::before{
  background: url("../img/talk.png") left no-repeat; }

.home__container::before {
  content: "";
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: -5%;
  left: 50%;
  z-index: 3;
}

._no-webp .home__container::after{
  background: url("../img/bg/background.png") left no-repeat; }

.home__container::after {
  content: "";
  position: absolute;
  top: -3%;
  left: 52%;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.home__help {
  padding: 240px 0px 75px 0px;
  color: #22356F;
  height: 100%;
  z-index: 5;
}

.home__logo {
  margin: 0px 0px 45px 0px;
}

.home__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  max-width: 484px;
  letter-spacing: -2.5px;
  margin: 0px 0px 40px 0px;
}

.home__text {
  max-width: 469px;
  font-size: 24px;
  line-height: 42px;
  margin: 0px 0px 40px 0px;
}

.home__options {
  margin: 0px 0px 50px 0px;
}

.home__options:last-child {
  margin: 0px 0px 0px 0px;
}

.home__options-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F9B640;
  margin: 0px 20px 0px 0px;
  padding: 0px 30px;
  min-height: 50px;
}

.home__options-link:hover {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 20px 0px 0px;
  background-color: #F9B640;
  color: #ffffff;
}

.about-therapist {
  background-color: #62D0DF;
}

.about-therapist__container {
  min-height: 604px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-therapist__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64.26087%;
          flex: 0 1 64.26087%;
  position: relative;
}

.about-therapist__title {
  font-size: 36px;
  line-height: 27px;
  font-weight: 700;
  margin: 0px 0px 75px 0px;
}

.about-therapist__text {
  max-width: 555px;
  font-size: 24px;
  line-height: 36px;
}

.about-therapist__text span {
  font-size: 20px;
  line-height: 29px;
}

.about-therapist__image {
  position: absolute;
  top: 0;
  left: 15%;
  width: 100%;
  padding: 0px 0px 55% 0px;
}

.about-us__container {
  max-width: 1203px;
  margin: 0 auto;
  min-height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #22356F;
}

.about-us__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  margin: 0px 200px 0px 0px;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
}

.about-us__text {
  max-width: 592px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.about-help__title {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: rgba(20, 33, 70, 0.527);
  margin: 0px 0px 24px 0px;
}

.about-help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-help__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-top: 95px;
  margin: 0px 0px 120px 0px;
  min-height: 360px;
}

.about-help__column_p {
  background-color: #FFE2DE;
}

.about-help__column_g {
  background-color: #C4E769;
}

.about-help__column_t {
  background-color: #62D0DF;
}

.about-help__column_b {
  background-color: #0052C1;
}

.about-help__text {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.about-help__text::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 16%;
  width: 9px;
  height: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #E9B730;
  border-radius: 50%;
}

.about-help__text::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 16%;
  border-top: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 255px;
}

.sport__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sport__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 126px 70px;
  min-height: 480px;
}

.sport__column_db {
  background-color: #22356F;
}

.sport__column_b {
  background-color: #0052C1;
}

._no-webp .sport__column_img{
  background: url("../img/juce.png") center no-repeat; }

.sport__column_t {
  background-color: #62D0DF;
}

.sport__column_s {
  background-color: #DEE1FF;
}

.sport__column_f {
  background-color: #8F00FF;
}

.sport__name {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  position: relative;
  color: #ffffff;
  padding: 0px 0px 0px 44px;
}

.sport__name::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 4%;
  width: 9px;
  height: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #E9B730;
  border-radius: 50%;
}

.sport__name::after {
  content: "";
  position: absolute;
  top: -65%;
  left: 4%;
  border-top: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
}

.lessons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 22px 0px 0px 0px;
}

.lessons__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lessons__item {
  color: #22356F;
}

.lessons__title {
  font-size: 28px;
  line-height: 33px;
  margin: 0px 0px 25px 0px;
}

.lessons__text {
  font-size: 16px;
  line-height: 25px;
  color: rgba(34, 53, 111, 0.507);
  max-width: 290px;
}

.additional-information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #22356F;
}

.additional-information__image {
  margin: 0px 106px 0px 0px;
}

.additional-information__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 103px 0px 50px 0px;
}

.additional-information__title {
  margin: 0px 0px 225px 0px;
  font-size: 16px;
  line-height: 12px;
  text-transform: uppercase;
}

.additional-information__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 676px;
  font-size: 36px;
  line-height: 53px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.additional-information__text-link {
  color: #6CD3E1;
}

.additional-information__text-link:hover {
  text-decoration: underline;
}

.additional-information__link {
  color: #FAB63E;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 700;
}

.additional-information__link:hover {
  text-decoration: underline;
}

.block-ready__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-ready__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 103px 0px 45px 0px;
  background-color: #22356F;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-ready__us {
  margin: 0px 0px 230px 0px;
}

.block-ready__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-ready__title {
  font-size: 64px;
  line-height: 94px;
  font-weight: 700;
  margin: 0px 0px 75px 0px;
}

.block-ready__text {
  font-size: 36px;
  line-height: 53px;
  max-width: 579px;
}

.block-ready__link {
  color: #62D0DF;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #22356F;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 0px 0px 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.footer__text {
  max-width: 195px;
  line-height: 23px;
  color: rgba(34, 53, 111, 0.521);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__tel {
  line-height: 23px;
  color: rgba(34, 53, 111, 0.521);
  margin: 30px 0px 0px 0px;
}

.footer__link {
  color: #006DFF;
}

.footer__bottom {
  background-color: #62D0DF;
}

.footer__bottom-text {
  color: #ffffff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 10px;
}

._container2 {
  max-width: 1440px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg video,
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #62D0DF;
}

._webp .home__container::before{ background: url(../img/talk.webp) left no-repeat; }

._webp .home__container::after{ background: url(../img/bg/background.webp) left no-repeat; }

._webp .sport__column_img{ background: url(../img/juce.webp) center no-repeat; }